* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background:linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.logo-container {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 10;
}
.site-logo {
    height: 100px;
    width: auto;
    margin-bottom: 20px;
    filter: drop-shadow(0 2px 4px rgba(0,0,0,0.1));
}

.login-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin-top: 0px;
    position: relative;
}

h1 {
    color: #6a9cf3;
    margin-bottom: 30px; 
    font-size: 28px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 25px; 
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    color: #000000;
    margin-bottom: 8px;
    font-weight: 500;
}

input {
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    transition: border 0.3s;
}

input:focus {
    outline: none;
    border-color: #1a73e8;
}

.login-button {
    background-color: #3385f0;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 10px; 
}

.login-button:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #453cc4;
}

.existent-account {
    margin-top: 15px;
}

.existent-account a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.existent-account a:hover {
    color: #000000;
    text-decoration: underline;
}

.transparent-footer {
    background-color: transparent;
    color: #13212e;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content a {
    color: #2c3e50;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.footer-content a:hover {
    color: #333538;
    text-decoration: underline;
}


@media (max-height: 700px) {
    .login-container {
        top: 55%;
        padding: 30px 40px;
    }
    
    .login-form {
        gap: 15px;
    }
}